.App {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

.header {
  background:#E8A724;
  padding: 10px;
  grid-column: 1 / 3;
}

.inputs {
  text-align: center;
  padding: 30px;
}

.footer {
  grid-column: 1/3;
  text-align: center;
  letter-spacing: 5px;
  background:#FF801B;
  padding: 10px;
}

.buttonMenu {
}

.gridContainer{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
  grid-gap: 10px;
}



/* Add some padding inside the card container */
.cardContainer {
    padding: 2px 16px;
    text-align: center;
}

img {
  width: 100%;
}

.mainContainer {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 3fr;
}

div{
  padding: 10px;
}
