body {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
}

.header {
  background-color: #252525;
  height: 100px;
  padding: 20px;
  color: #656565;
  grid-column: 1 / 3;
  text-align: center;
  border-radius: 2px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.14s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

.inputs {
  text-align: center;
  padding: 30px;
}

.footer {
  background-color: #252525;
  border-radius: 2px;
  height: 100px;
  color: #656565;
  padding: 20px;
  grid-column: 1/3;
  text-align: center;
}
.gridContainer{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
  grid-gap: 10px;
}



/* Add some padding inside the card container */
.cardContainer {
    padding: 2px 16px;
    text-align: center;
}

img {
  width: 100%;
}

.mainContainer {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 3fr;
  height: 100%;
}

@media only screen and (max-width: 525px){

  .buttonMenu {
    grid-column: 1 / 3;
    text-align: center;
  }

  li {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .mainContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

}
